<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

       <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">

</head>

<body>
   
    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="images/logo.png" alt="Homepage">
            </a>
        </div>
    </header> <!-- end s-header -->
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll"  data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div id = "prime" class = "s-home target-section"></div>
            <div class="row general1">
                <header class="headerPortafolio">
                    <h1>
                        SEGURIDAD INDUSTRIAL
                    </h1>
                </header>
                <section class="general1">
                    <section class="video1">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_XNAnCKmubA?rel=0;&autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                    <aside class="descripcion1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nobis corrupti mollitia magnam veritatis, atque dolorem reprehenderit excepturi explicabo, iusto est autem iure, unde doloremque? Cupiditate nesciunt fuga accusamus cumque?
                    </aside>
                </section>
                <footer class="fin">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique tempora sed architecto minima? Deserunt repellat delectus officia. Accusantium vero voluptatum eaque laboriosam labore aliquam magni tenetur inventore. Eius, corporis eveniet!
                </footer>
            </div> <!-- end home-content -->
        </div>
    </section> <!-- end s-home -->

        <!-- preloader
    ================================================== -->
    <div id="preloader">
            <div id="loader">
                <div class="line-scale-pulse-out">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>